[submodule "rad-lab"]
	path = rad-lab
	url = https://github.com/marcusmonteirodesouza/rad-lab.git
[submodule "hpc-toolkit"]
	path = hpc-toolkit
	url = https://github.com/marcusmonteirodesouza/hpc-toolkit.git
